<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top</title>
    <base href="top">
  </head>

  <body>
    <div align = right>
  <font color="white">ようこそ、さん</font>
<a href="login">(ログインページ)</a>
</div>

  <div>
  <h1><font color="339999" size="7">リジョブサイト</font></h1>

      <a href="search">検索ページにいく</a>
      <a href="job">案件ページにいく</a>
    </div>

    top画面だよ

     検索文言：
     <%= params[:trend] %>
 <br>
     結果?
     <% @jobs.each do |job| %>
     <%= job.description %> <br>
     <% end %>



  </body>
</html>
